/* Header CSS Style */
.head-title {
    border-bottom: 5px solid #9bca3e;
    padding: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -moz-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
}

.head-title .btn-nav a {
    background-color: #1268cd;
    color: #ffffff;
    width: auto;
    height: 40px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
}

.head-title .btn-nav em {
    color: #ffffff;
    font-size: 20px;
    padding-right: 5px;
}

/* Content Inventory CSS Style */
.stock-section input[type=search] {
    width: 300px;
    outline: none;
}

.stock-section .dataTables_length {
    visibility: hidden;
}

.stock-section input[type=search]:focus {
    border: 1px solid #1268cd;
}

.stock-section #inventoryTable_wrapper {
    max-height: 300px !important;
}

.stock-section .btn-inner a {
    color: #000000;
    text-decoration: none;
    padding: 0 10px;
}

.stock-section .btn-inner em {
    font-size: 20px;
    padding: 0 3px;
}

.stock-section .btn-update em {
    color: #9bca3e;
}

.stock-section .btn-delete em {
    color: #cc1919;
}

/* Modal Design CSS */
.modal .modal-content {
    width: 800px;
    height: 500px;
    overflow-y: auto;
}

.modal .company-info button {
    width: 200px;
}

.modal .company-info input {
    width: 450px;
    outline: none;
    border: none;
    border-bottom: 1px solid #01122c;
}

.modal .company-info select {
    border-radius: 0;
    width: 435px;
    outline: none;
    border: none;
    border-bottom: 1px solid #01122c;
}

.modal .option-tooltip {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.modal .option-tooltip::before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    left: 100%;
    margin-right: 0px;
    /* and add a small left margin */

    /* basic styles */
    width: auto;
    height: auto;
    padding: 8px;
    background: #040123;
    color: #fff;
    font-size: 15px !important;
    white-space: normal;
    transition: 1s ease-in;
    z-index: 3;

    display: none;
    /* hide by default */
}

.modal .option-tooltip:hover:before {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .option-viewer {
    position: relative;
    display: inline-block;
}

.modal .option-viewer::before {
    content: attr(data-text);
    /* here's the magic */
    position: absolute;

    /* vertically center */
    top: 100%;
    transform: translateY(0%);

    /* move to right */
    right: 0%;
    margin-right: 0px;
    /* transform: translateX(-5%); */
    /* and add a small left margin */

    /* basic styles */
    width: 200px;
    height: auto;
    padding: 8px;
    background: #040123;
    color: #fff;
    text-align: center;
    font-size: 15px !important;
    overflow-wrap: break-word;
    transition: 1s ease-in;

    display: none;
    /* hide by default */
}

.modal .option-viewer:hover:before {
    display: flex;
    justify-content: center;
    align-items: center;
}