/* Header CSS Style */
.head-title {
    border-bottom: 5px solid #9bca3e;
    padding: 10px 0;
    margin-bottom: 20px;
    box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -moz-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
}

.head-title .btn-nav a {
    background-color: #1268cd;
    color: #ffffff;
    width: auto;
    height: 40px;
    text-decoration: none;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
}

.head-title .btn-nav em {
    color: #ffffff;
    font-size: 20px;
    padding-right: 5px;
}

/* Content Inventory CSS Style */
.stock-section input[type=search] {
    width: 300px;
}

.stock-section #inventoryTable_wrapper {
    max-height: 300px !important;
}