.head-title .btn-inner a {
    color: #ffffff;
    background-color: #1268cd;
    border: 2px solid #1268cd;
    padding: 5px 8px;
    border-radius: 5px;
}

.head-title .btn-inner a em.revenue {
    text-align: center;
    color: #1268cd;
    background-color: #ffffff;
    font-size: 12px;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
}

.head-title .btn-inner a:hover {
    color: #ffffff;
    background-color: rgb(18, 104, 205, 0.8);

    padding: 5px 8px;
    border-radius: 5px;
}

.forecast-data .searchCol {
    position: relative;
    z-index: 10 !important;
}

.forecast-data .supply_forecast {
    position: relative;
    z-index: 1 !important;
}

.forecast-data select {
    position: relative;
    display: block;
    width: 150px;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    z-index: 10;
}

.forecast-data select:focus {
    outline: 1px solid #1268cd;
}

.forecast-data #category {
    position: relative;
    z-index: 5 !important;
}

.forecast-data #category {
    margin-right: 10px;
}

.forecast-data .select2-container .select2-selection--single {
    padding-top: 6px;
    height: 40px !important;
}

.forecast-data .select2-container .select2-selection--single .select2-selection__arrow {
    height: 40px !important;
}

.modal .modal-content {
    width: 800px;
}

.modal select#modal_category {
    display: block;
    width: auto;
    padding: 0.375rem 2.25rem 0.375rem 0.75rem;
    -moz-padding-start: calc(0.75rem - 10px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-left: 5px;
}

.modal input#forecast-month {
    border: 1px solid #ced4da;
}

.modal select#modal_category:focus {
    outline: 1px solid #1268cd;
}

.modal input,
.modal select {
    width: 180px;
}

.modal .btn_forecast {
    width: 250px;
    background-color: #1268cd;
    border-radius: 5px;
    border: 2px solid #1268cd;
    color: #ffffff;
    font-weight: 600;
    font-size: 20px;
    padding: 3px 0px;
    letter-spacing: 2px;
}

.modal .btn_forecast:hover {
    width: 250px;
    background-color: rgb(18, 104, 205, 0.8);
    border-radius: 5px;
    color: #ffffff;
    font-weight: 600;
    padding: 3px 0px;
}