/* Order Form Designs */
.transact-section {
    margin-top: 20px;
}

.transact-section input {
    width: 320px !important;
}

/* Modal Style Design */
.modal .modal-body {
    padding-top: 0;
}

.modal .modal-content {
    width: 800px;
    height: 500px;
    overflow-y: auto;
}

/* .modal .modal-body {
    padding: 0 auto;
} */

.modal .company-info {
    width: 80%;
}

.modal .company-info button {
    width: 200px;
}

.modal .company-info input {
    width: 450px;
    outline: none;
    border: none;
    border-bottom: 1px solid #01122c;
}

.modal .company-info input:focus {
    border-bottom: 2px solid #01122c;
}

.modal .company-order input {
    width: 100%;
}

.modal .company-order select#commodity {
    width: 300px;
}

.modal .company-order .btn-inner {
    width: 100%;
    height: 30px;
}

.modal .company-order button {
    width: 200px;
}

/* Table Section Designs */
.transact-section input[type=search] {
    width: 300px;
    outline: none;
}

.transact-section .dataTables_length {
    visibility: hidden;
}

.transact-section .btn-inner a {
    color: #000000;
    text-decoration: none;
    padding: 0 10px;
}

.transact-section .btn-inner em {
    font-size: 20px;
    padding: 0 3px;
}

.transact-section .btn-update em {
    color: #9bca3e;
}

.transact-section .btn-delete em {
    color: #cc1919;
}