main {
    margin: 0;
}

/* Hide Sidebar */
.side-nav {
    display: none;
    visibility: hidden;
}

/* Login Layout Design */
.login-section {
    box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    -moz-box-shadow: 0px 5px 8px 1px rgba(71, 71, 71, 0.75);
    padding: 0;
}

.login-section .logo-section {
    background-color: #ffffff;
    padding: 30px 0;
    height: 470px;
}

.login-section .img-logo img {
    width: 150px;
    height: auto;
}

.login-section .title {
    font-size: 27px;
}

.login-section .btn-signup {
    padding: 10px 50px;
    margin-top: 130px;
    background-color: #1268cd;
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 30px;
}

/* Modal Design */
.modal .modal-content {
    width: 390px;
    height: 500px;
    overflow: hidden;
}

.modal .modal-body {
    margin: 0 !important;
}

.modal .step-row {
    width: 100%;
    height: 25px;
    position: relative;
    border-bottom: 2px solid #1268cd;
    padding: 0;
    z-index: 5;
}

.modal .step-col {
    width: 120px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
    transform-origin: bottom right;
    transition: 0.9s ease-out;
}

.modal #s1 {
    color: #ffffff;
}

.modal #process {
    width: 120px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: #1268cd;
    transition: 1s;
}

/* .modal #process::after{
    content: "";
    height: 0;
    width: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    position: absolute;
    right: -12px;
    border-left: 12px solid #1268cd;
} */

.modal .header-form {
    font-size: 22px;
}

.modal .input-group {
    margin: 0;
}

.modal .signup-section {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 50px 30px 20px 30px;
    transition: 0.5s;
}

.modal #form2,
.modal #form3 {
    left: 500px;
}

.modal .signup-section input,
.modal .signup-section select {
    font-size: 16px;
    display: block;
    width: 100%;
    height: 38px;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: transparent;
    background-clip: padding-box;
    border-radius: 8px;
    margin: 0 0 10px 0;
    border: 1px solid #52bffd;
}

/* .modal .signup-section input[type=password] {
    position: relative;
    z-index: 2;
} */

.modal .signup-section .show-password {
    height: 37px;
    position: absolute;
    display: inline;
    padding-right: 35px;
    left: 87%;
}

.modal .signup-section .show-password i {
    margin: 0;
    padding: 0;
}

.modal .password-viewer {
    position: relative;
    display: inline-block;
    padding: 0 5px;
}

.modal .password-viewer .password-rules {
    position: absolute;
    display: none;
    border: 1px solid #ced4da;
    background-color: #ffffff;
    padding: 10px;
    transform: translateY(-200px);
    left: -100px;
    font-size: 12px;
    width: 350px;
    z-index: 10;
}

.modal .password-viewer:hover .password-rules {
    display: block;
}

.modal .password-viewer .password-rules h6 {
    font-size: 14px;
}

.modal .password-viewer .password-rules p {
    margin: 0 0 5px 0;
    color: #ff0000;
}

.modal .signup-section input:focus,
.modal .signup-section select:focus {
    outline: none;
    border-radius: 8px;
    margin: 0 0 10px 0;
    border: 1px solid rgba(155, 202, 62, 0.5);
}

/* Login Design */
.login-section .form-section {
    background-image: url(/images/bg-form-section.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-section .form-title {
    color: #ffffff;
    margin-bottom: 60px;
}

.login-section .form-section input {
    margin-bottom: 20px;
    font-size: 18px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0 8px 8px 0;
}

/* .login-section .form-section input[type=password] {
    padding: 0.375rem 0.75rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0;
} */

.login-section .login-icon .fa {
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 8px 0 0 8px;
}

.login-section .login-icon .fa-lock {
    padding: 9px 13px;
}

.login-section .show_li_password {
    height: 43px;
    position: absolute;
    display: inline;
    transform: translateX(350px);
}

.login-section .show_li_password i {
    margin: 0;
    padding: 0;
    font-size: 20px !important;
}

.login-section .fp {
    text-align: center;
}

.login-section .fp a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}

.login-section .btn-signin {
    padding: 8px 50px;
    margin-top: 20px;
    background-color: #ffffff;
    width: 100%;
    color: #1268cd;
    font-size: 18px;
    font-weight: 700;
    border-radius: 30px;
}

.login-section #siEmail {
    font-family: 'FontAwesome', 'Poppins';
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}